@import "tailwindcss";

@theme {
  --font-danaMed: "Dana-Medium";
  --font-danaDemiBold: "Dana-DemiBold";
  --font-danaLight: "Dana-Light";
}

@utility ss02 {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

@utility container {
  padding-inline: 8px;
  margin-inline: auto;

  
  @variant md {
    padding-inline: 10px;
  }

  @variant lg {
    padding-inline: 20px;
  }

  @variant xl {
    padding-inline: 30px;
  }
}

@font-face {
  font-family: Dana-Medium;
  font-display: swap;
  src: url("/fonts/woff/Dana-Medium.woff") format("woff2");
}

@font-face {
  font-family: Dana-DemiBold;
  font-display: swap;
  src: url("/fonts/woff/Dana-DemiBold.woff") format("woff2");
}
@font-face {
  font-family: Dana-Light;
  font-display: swap;
  src: url("/fonts/woff/Dana-Light.woff") format("woff2");
}

.gallery-container {
  width: 100%;
}
.mySwiper2,
.mySwiper {
  width: 100%;
}

@media (max-width: 600px) {
  .mySwiper {
    height: 200px !important;
  }
}

.mySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(230, 106, 4, 0.8) #f3f4f6;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(230, 106, 4, 0.8);
  border-radius: 9999px;
  border: 2px solid #f3f4f6;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(230, 106, 4, 0.8);
}

.likeBtn {
  @apply bg-green-500 text-white;
}

.swal2-popup {
   @apply !font-danaMed;
}

.swal2-title,
.swal2-content {
  @apply !font-danaMed;
}