@import "tailwindcss";

@theme {
  --font-danaMed: "Dana-Medium";
  --font-danaDemiBold: "Dana-DemiBold";
  --font-danaLight: "Dana-Light";
  
}

@utility container {
  padding-inline: 10px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 1px;
  }

  @variant lg {
    padding-inline: 20px;
  }

  @variant xl {
    padding-inline: 30px;
  }
}

@font-face {
  font-family: Dana-Medium;
  font-display: swap;
  src: url("/fonts/woff/Dana-Medium.woff") format("woff2");
}

@font-face {
  font-family: Dana-DemiBold;
  font-display: swap;
  src: url("/fonts/woff/Dana-DemiBold.woff") format("woff2");
}
@font-face {
  font-family: Dana-Light;
  font-display: swap;
  src: url("/fonts/woff/Dana-Light.woff") format("woff2");
}


.mySwiper {
  height: 300px; /* یا هر ارتفاع دلخواهی برای دسکتاپ */
}

@media (max-width: 600px) {
  .mySwiper {
    height: 200px !important;
  }
}

/* مهم: تصاویر داخلش هم باید با ارتفاع پدر هماهنگ بشن */
.mySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}